[core]
	excludesfile = ~/.config/gitignore_global
[user]
	email = damien@pobel.fr
	name = Damien Pobel
[alias]
	lg = log --oneline
[init]
	defaultBranch = main
[help]
	autocorrect = prompt
[column]
#    ui = auto
[branch]
#    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[merge]
    #conflictstyle = zdiff3
[pull]
    rebase = true
